// colors
$customBlack: black;
$customWhite: white;
$customBackground: midnightblue;
$customBlue: royalblue;
$darkGreyText: dimgrey;
$greyText: darkgrey;
$customLightGrey: whitesmoke;

// dimensions
$smallPadding: 10px;
$bigPadding: 20px;
$buttonSize: 40px;
