@import "constants";

@mixin flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin quantity-mixin {
  @include flex-full-center;
  width: $buttonSize;
  height: $buttonSize;
}

@mixin right-side-hr {
  width: 15%;
  margin-right: 5%;
  right: 0;
}
