body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: midnightblue;
  font-family: sans-serif; }

#shop__wrapper {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  max-height: 720px;
  border: 3px solid black;
  background: white;
  position: relative; }

.hr {
  position: absolute;
  background: lightgrey;
  height: 1px; }

#first-hr {
  width: 65%;
  top: 10%;
  margin-left: 5%; }

#second-hr {
  width: 15%;
  margin-right: 5%;
  right: 0;
  top: 10%; }

#third-hr {
  width: 15%;
  margin-right: 5%;
  right: 0;
  top: calc(10% + 75px); }

#fourth-hr,
#fifth-hr {
  width: 60%;
  margin-right: 20%;
  right: 0; }

#fifth-hr {
  top: 0; }

#discout-display {
  position: relative; }

#shop__section-titles {
  display: flex;
  height: 10%;
  font-size: 20px;
  font-weight: bold; }
  #shop__section-titles :first-child {
    width: 75%; }
  #shop__section-titles :last-child {
    width: 25%;
    background: whitesmoke; }
  #shop__section-titles > * {
    height: 100%;
    line-height: 250%;
    padding-left: 10px;
    margin-left: 10px; }

#shop__container {
  display: flex;
  height: 90%; }

.justify-align-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.item-label {
  background: white;
  font-weight: bold; }
  .item-label:first-of-type {
    padding-left: 20px; }

#shop__items-container {
  width: 75%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 75px 1fr 1fr 1fr 1fr;
  background: white; }
  #shop__items-container > * {
    display: flex;
    align-items: center; }

#shop__summary-container {
  width: 25%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 3fr 1fr;
  background: whitesmoke; }

.shop__summary__spacer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; }

.individual-discount {
  padding: 25px 10px; }

#discout-label,
#total-display {
  padding: 10px; }

#discout-label {
  padding-top: 25px;
  color: dimgrey; }

#total-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative; }

span[id$="-quantity"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid darkgrey; }

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  color: royalblue;
  font-size: 24px; }
  .item-button:active {
    color: midnightblue; }

#checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  background: royalblue;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px; }

.item-box {
  padding-left: 20px; }

.item-image {
  width: 100px;
  height: 100px;
  margin-right: 10px; }

.item-description__title {
  color: royalblue;
  font-weight: bold;
  line-height: 24px; }

.bold {
  font-weight: bold; }
